<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
    </style>
</head>

<body>
    <div class="question">
        
        <p><b>Description: {{ question.content }} - {{ question.user.username }}</b></p>
       
        {% if question.image_data %}
                     {% for image_data in question.image_data %}
                         <img class="small-image" src="data:image/jpeg;base64,{{ image_data }}" alt="Question Image" onclick="toggleFullscreen(this)">
                     {% endfor %}
                 {% endif %}</div>
</body>
</html>

